@font-face {
    font-family: "blueberryreg";
    src: url("../public/assets/fonts/BlueberrySans-Regular.otf");
  }
  
  @font-face {
    font-family: "blueberrylight";
    src: url("../public/assets/fonts/BlueberrySans-Light.otf");
  }
  
  @font-face {
    font-family: "blueberrymd";
    src: url("../public/assets/fonts/BlueberrySans-Medium.otf");
  }
  
  @font-face {
    font-family: "blueberry";
    src: url("../public/assets/fonts/BlueberrySans-Bold.otf");
  }
  
  @font-face {
    font-family: "blueberryextrabold";
    src: url("../public/assets/fonts/BlueberrySans-ExtraBold.otf");
  }
  
  @font-face {
    font-family: "blueberryblack";
    src: url("../public/assets/fonts/BlueberrySans-Black.otf");
  }